{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    {% if 'username' in session %}
        {% if fyers_data.get("connected") == False %}
            <h2>Auth Form</h2>
            {% include 'auth_form.html' %}
        
        {% elif fyers_data.get("order_book") %}
            {% include "order_book.html" %}
            {% include "positions.html" %}

        {% endif %}
    {% else %}
        <meta http-equiv="refresh" content="0; url={{ url_for('login') }}">
    {% endif %}
{% endblock %}
