{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold">Login</h1>
    <form method="post" class="mt-4">
        <label for="username" class="block">Username:</label>
        <input type="text" id="username" name="username" required class="border rounded p-2 w-full"><br>
        <label for="password" class="block mt-2">Password:</label>
        <input type="password" id="password" name="password" required class="border rounded p-2 w-full"><br>
        <input type="submit" value="Login" class="bg-blue-500 text-white px-4 py-2 rounded mt-4">
    </form>
    <a href="{{ url_for('register') }}" class="text-blue-500 hover:underline mt-4 block">Don't have an account? Register here</a>
{% endblock %}
